<% if flash[:notice] %>
  <div class="alert-success text-center" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert-danger text-center" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>
